body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  width: 400px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

select, button {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.filters {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.filters button {
  background: #334155;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #334155;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.priority {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
}

.high {
  background: #ef4444;
}

.medium {
  background: #f59e0b;
}

.low {
  background: #22c55e;
}

.delete-btn {
  background: red;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}